/*
 * By trial and error, I found that you can use this css code to turn off the symbols on an AreaChart
 *
 *             .chart-area-symbol { -fx-background-color: null, null; }
 *
 * Normally the first color is the color of the symbol stroke, and the second color is the color of the fill.
 * Set them both to null, and the symbol is not painted. Java code:
 *
 *      mainChart.getStylesheets().add(LogicAdvancedChart.class.getResource("/myStyle.css").toExternalForm());
 */

/*.chart-line-symbol {
    -fx-background-radius: 0;
}*/

.chart-legend-item-symbol{
    -fx-background-radius: 0;
}

.default-color1.chart-line-symbol { /* solid square */
    -fx-background-color: #a9e200, white;
    -fx-background-radius: 0;
}